<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andremion.theatre">
    <!--Used by Firebase Test Lab to persist coverage results-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application />
</manifest>